<div class="container-mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Contact</h2>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Efraim urel</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">3243432212</h6>
          <p class="card-text">hayoapauoeew@gmail.com</p>
          <a href="/contact" class="card-link text-decoration-none"><i class="bi bi-arrow-bar-left"></i> Kembali ke daftar contact</a>
        </div>
      </div>
    </div>
  </div>
</div>